#login h1 a{
	background: none;
	text-indent: 0;
	height: auto;
	width: auto;
}

body.login{
	background-color: #000000;
	background-image: url(berkowitz_login_bg.jpg);
	background-size: cover;
}

p#backtoblog, p.message, p.forgetmenot{
	display: none;
}
#loginform{
	background: none;
	box-shadow: none;
}
#login form .input, .login form input[type=checkbox], .login input[type=text]{
	background: none;
	border: 0;
	outline: none;
	box-shadow: none;
	color: #FFFFFF;
}
#login form .input:focus{
	outline: none;
	box-shadow: none;
	color: #FFFFFF;
}
#loginform #wp-submit{
	width: 100%;
}