<a ui-sref="customer.new" class="btn btn-lg button-warning"><span class="glyphicon glyphicon-user"></span>  NEW CUSTOMER</a>
<a ui-sref="customer.list" class="btn btn-lg button-default"><span class="glyphicon glyphicon-list"></span>  CUSTOMER DATABASE</a>