<div class="container-fluid">
	<div class="row">
		<div class="container">
			<h1>Customer Details</h1>
			<form action="">
				<div class="col-md-6">
					<div class="form-group">
					    <label for="full_name">Full Name</label>
					    <input type="text" class="form-control" id="full_name" ng-model="formdata.full_name">
					  </div>
					  <div class="form-group">
					    <label for="phone_number">Phone Number</label>
					    <input type="text" class="form-control" id="phone_number" ng-model="formdata.phone_number">
					  </div>
					  <div class="form-group">
					    <label for="email_address">Email</label>
					    <input type="email" class="form-control" id="email_address" ng-model="formdata.email_address">
					  </div>
					  <div class="form-group">
					    <label for="product_of_interest">Furniture product of interest</label>
					    <input type="text" class="form-control" id="product_of_interest" ng-model="formdata.product_of_interest">
					  </div>
					  <div class="form-group">
					    <label for="price_quoted">Price quoted</label>
					    <input type="text" class="form-control" id="price_quoted" ng-model="formdata.price_quoted">
					  </div>
					  <div class="form-group">
					    <label for="company">Company</label>
					    <input type="text" class="form-control" id="company" ng-model="formdata.company">
					  </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="address">Address</label>
					    <input type="text" class="form-control" id="address" ng-model="formdata.address">
					</div>
					<div class="form-group">
						<label for="suburb">Suburb / City / Town</label>
					    <input type="text" class="form-control" id="suburb" ng-model="formdata.suburb">
					</div>
					<div class="container-fluid">
						<div class="col-md-6">
							<label for="state">State / Territory</label>
							<select name="state" id="state" class="form-control" ng-model="formdata.state" ng-options="state.id as state.name for state in states"></select>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							<label for="postcode">Postcode</label>
						    <input type="text" class="form-control" id="postcode" ng-model="formdata.postcode">
							</div>
						</div>
					</div>
					

					<div class="form-group">
						<label for="notes">Notes</label>
						<textarea id="notes" cols="30" rows="10" class="form-control" ng-model="formdata.notes"></textarea>
					</div>
				</div>
				<div class="col-md-6"><a href="#" ui-sref="customer" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span> CANCEL</a></div>
				<div class="col-md-6"><button type="submit" ng-click="saveCustomer()" class="btn btn-warning btn-lg btn-block">Submit</button></div>
			</form>

		</div>
	</div>
</div>