<a href="#" ui-sref="customer.new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Customer</a>
<a href="#" ui-sref="customer.new" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Email Details</a>
<a href="#" ui-sref="customer.new" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Add Customer</a>
<a href="#" ui-sref="customer.new" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Export All Data</a>