<a ui-sref="home" class="btn btn-lg directoryhome"><span class="glyphicon glyphicon-file"></span> Main Directory</a>
        <ul class="nav nav-pills nav-stacked">
          <li ng-show="showFolders" ng-repeat="folder in rootFolders"><a ui-sref="home.directory({folderid:folder.id})"><span class="btn glyphicon glyphicon-triangle-right"> {{folder.title}}</a></li>
          <li><a href="#" ng-click="login()" ng-show="showLogin" class="btn btn-default">Google Auth</a></li>
        </ul>
       <a href="logout" class="btn btn-default btn-lg logout">Logout</a>