<nav class="navbar navbar-horizontal navbar-fixed-top col-md-offset-2" id="utility-navbar">
	<ul class="nav nav-pills">
      <li><a href="#"><span class="glyphicon glyphicon-list"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-th-large"></span></a></li>
      <li>ORDER BY: </li>
      <li><a href="#">Last Modified</a></li>
      <li><a href="#">Size</a></li>
   </ul>
 </nav>