<ul class="list-group">
	<li class="list-group-item" ng-repeat="file in files"><a href="{{file.selfLink}}" class="thumbnail"><img src="{{file.thumbnailLink}}" alt="{{file.title}}">{{file.title}}</a></li>
</ul>
<ul>
	<li ng-repeat="file in photos">{{file.title}}</li>
</ul>