// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #666666;

$grey1:	#393b3e;
$grey2: #4d4f52;
$red1: #d3242a;
$white: #f9fbfd;