@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

body{
	padding-top: 70px;
	background-color: $white;
}

#directory-navbar.navbar-fixed-top, #utility-navbar.navbar-fixed-top{
	top:50px;
}

a.directoryhome{
	min-width: 220px;
	width: 100%;
	border-top: 2px solid $red1;
}
a.logout{
	min-width: 220px;
	width: 100%;
}

#directory-navbar{
	left: 0;
	bottom: 0;
	margin: 0 20px 0 13px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: $grey1;
	color: $white;
	a{
		color:$white;
		&.directoryhome, &.logout{
			background-color: $grey2;
		}
		&.logout{
			border: 0;
		}
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a.navbar-brand{
	background-color: #000000;
	background-image: url('../../assets/images/Berkowitz_Logo.jpg');
	background-position: center center;
	background-size: cover;
	border-radius: 0px;
	border-bottom: 1px solid #621114;
	text-indent: -9999px;
	overflow: hidden;
	min-width: 220px;
	width: 100%;
	// min-height: 90px
}

.btn{
	border-radius: 0px;
	.navbar-brand{
		border-radius: 0px;
	}
}
.btn-danger{
	background-color: $red1;
	border-color: $red1;
}

#main-navbar{
	.navbar-form{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-right: 0px;
		// width: 70%;
		.btn-danger{
			padding: 14px 24px;
			float: right;
		}

		#searchbar{

		}
	}
	.navbar-btn{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.navbar-header{
		background-color: #000000;
	}
}


.nav-stacked>li+li{
	margin-top: 0px;
}
.nav-pills>li>a{
	border-radius: 0px;
}